<nav class="navbar navbar-expand-lg navbar-dark bg-black p-3 shadow-sm">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </a>

    <!-- Bouton pour petits écrans -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @if(!isAuthenticated) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Inscription</a>
          </li>
        }

        @if(isAuthenticated && isAdminRH) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminRH">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminRH/typeConges">Types Congés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminRH/employees">Employés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminRH/hitoriqueConges">Historique Demandes Congés</a>
          </li>
        }

        @if(isAuthenticated && isManager){
          <li class="nav-item">
            <a class="nav-link" routerLink="/manager">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manager/historiqueDemandesEquipe">Historique Demandes Congés</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span *ngIf="unreadCount > 0" class="badge bg-danger position-absolute top-0 start-100 translate-middle">{{ unreadCount }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngIf="notifications.length === 0"><a class="dropdown-item">Aucune notification</a></li>
              <li *ngFor="let notif of notifications">
                  {{ notif.message }}
                  <span *ngIf="!notif.read" class="badge bg-danger">Nouveau Soumission</span>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manager/demandeEnAttente">Demandes En Attente</a>
          </li>
           <!-- Bouton Notifications -->
          
        }

        @if(isAuthenticated && isUser) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span *ngIf="unreadCount > 0" class="badge bg-danger position-absolute top-0 start-100 translate-middle">{{ unreadCount }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngIf="notifications.length === 0"><a class="dropdown-item">Aucune notification</a></li>
              <li *ngFor="let notif of notifications">
                  {{ notif.message }}
                  <span *ngIf="!notif.read" class="badge bg-danger">Nouveau Validation , go and check !</span>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/demandeConges">Demande Congés</a>
          </li>
              <!-- Bouton Notifications -->
              
      
        }

        @if(isAuthenticated && isAdmin){
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/users">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/departement">Département</a>
          </li>
        }
        @if(isAuthenticated) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profil</a>
          </li>
        }
      </ul>

      <!-- Bouton de déconnexion -->
      @if(isAuthenticated) {
        <button class="btn btn-outline-light" (click)="logout()" style="margin-left: 20px;">Se déconnecter</button>
      }
    </div>
  </div>
</nav>
