/* Style général */
.navbar {
    background-color: #000; /* Fond noir */
  }
  
  .navbar-brand .logo {
    height: 40px; /* Taille du logo */
    width: auto;
    transition: transform 0.3s ease-in-out; /* Animation au survol */
  }
  
  .navbar-brand .logo:hover {
    transform: scale(1.1); /* Zoom léger au survol */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Texte blanc */
    margin-left: 10px;
    transition: color 0.2s ease-in-out; /* Animation au survol */
  }
  
  .navbar-nav .nav-link:hover {
    color: #bbb; /* Couleur gris clair au survol */
  }
  
  .btn-outline-light {
    color: #fff;
    border-color: #fff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .btn-outline-light:hover {
    background-color: #fff;
    color: #000;
  }
  .dropdown-menu {
    background-color: #000000; /* Dark background */
    color: white;
  }
  a{color: white;}
  
  .dropdown-item:hover {
    background-color: #495057; /* Slightly lighter background */
    color: white;
  }
  