.badge {
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 12px;
  text-transform: capitalize;
}

/* Statut de la demande */
.bg-warning {
  background-color: #e9a848 !important; /* Orange pastel */
}

.bg-success {
  background-color: #519b85 !important; /* Vert pastel doux */
}

.bg-danger {
  background-color: #3c691e !important; /* Rouge pastel pour "Refusé" */
}