<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/logo.png" alt="Logo" style="height: 50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <!-- Login visible si non authentifié -->
                 @if(!isAuthenticated){
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login">Login</a>
                </li>}

                <!-- Profile visible si authentifié et pas administrateur -->
                 @if(isAuthenticated && !isAdmin){
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/profile">Profile</a>
                </li>}

                <!-- Dashboard Admin RH -->
                 @if(isAuthenticated && isAdminRH){
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/adminRH/dashboard">Dashboard Admin RH
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>}

                <!-- Dashboard Employé -->
                 @if(isAuthenticated && isUser){
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/employee/dashboard">Dashboard Employé
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>}

                <!-- Lien vers la gestion des employés (visible pour Admin RH seulement) -->
                 @if(isAuthenticated && isAdminRH){
                <li class="nav-item">
                    <a class="nav-link" routerLink="/adminRH/gestion-employes">Gestion des Employés</a>
                </li>}
            </ul>

            <!-- Déconnexion visible si authentifié -->
             @if(isAuthenticated){
            <button type="button" class="btn btn-outline-danger" (click)="logout()">Se déconnecter</button>}
        </div>
    </div>
</nav>
