.bg-warning {
    background-color: #47a186 !important; /* Vert pastel doux */
  }

  .bg-success {
    background-color: #397526 !important; /* Vert pastel doux */
  }
  .bg-danger {
    background-color: #856f0e !important; /* Vert pastel doux */
  }