/* Style global pour les cartes */
.custom-card {
    border-radius: 12px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); /* Ombre douce */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation au survol */
  }
  
  .custom-card:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre plus marquée au survol */
  }
  
  .custom-card-header {
    background: #f1f1f1; /* Gris clair apaisant */
    border-radius: 10px 10px 0 0;
    padding: 12px 20px;
  }
  
  .card-body h5 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: #333; /* Gris foncé pour le texte */
  }
  
  .card-body p {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .badge {
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 12px;
    text-transform: capitalize;
  }
  
  /* Statut de la demande */
  .bg-warning {
    background-color: #5ac032 !important; /* Orange pastel */
  }
  
  .bg-success {
    background-color: #7fd191 !important; /* Vert pastel doux */
  }
  
  /* Cartes de données */
  .card {
    background-color: #f4f8f9; /* Fond neutre et doux */
  }
  
  .card .card-body {
    padding: 20px;
  }
  