.custom-card {
  border-radius: 8px;
  background-color:rgb(135, 136, 77);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.custom-card:hover {
  transform: scale(1.05);
}
.custom-card-header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;
}

  .badge {
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 12px;
    text-transform: capitalize;
  }
  
  /* Statut de la demande */
  .bg-warning {
    background-color: #5ac032 !important; /* Orange pastel */
  }
  
  .bg-success {
    background-color: #7fd191 !important; /* Vert pastel doux */
  }
  