<div class="container mt-4">   
<div class="row mb-1 align-items-center">
  <div class="row mb-4 align-items-center">
    <div class="col-12 col-md-6">
      <h4 class="text-dark">Bonjour,  <span style="color: gray;">Chef du Département</span></h4>
    </div>
  </div>
</div>

<div class="row">
  <!-- Demandes à approuver -->
  <div class="col-md-4 mb-4">
    <div class="card custom-card text-white position-relative">
      <div class="card-body">
        <h5 class="card-title text-white">Demandes à approuver</h5>
        <p class="card-text h2">{{ demandesEnAttente?.length }}</p>
        <i class="bi bi-file-earmark-check-fill position-absolute" 
        style="right: 10px; top: 50%; font-size: 2rem;"></i>
      </div>
    </div>
  </div>

  <!-- Demandes d'extension -->
  <div class="col-md-4 mb-4">
    <div class="card custom-card text-white position-relative">
      <div class="card-body">
        <h5 class="card-title text-white">Demandes d'extension</h5>
        <p class="card-text h2">{{ nbDextension }}</p>
        <i class="bi bi-calendar-plus-fill position-absolute" 
           style="right: 10px; top: 50%; font-size: 2rem;"></i>
      </div>
    </div>
  </div>
</div>

  
    <!-- Tableau des demandes -->
    <div class="card mt-3">
      <div class="card-header custom-card-header text-black fw-bold">Demandes de congé en attente</div>
      <div class="card-body">
        <table class="table table-striped" style="border: 1px solid GREY;">
          <thead>
            <tr>
              <th>Nom de l'employé</th>
              <th>Date début</th>
              <th>Date fin</th>
              <th>Type</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            @for(demande of demandeConges;track demande){
            <tr>
              <td>{{ demande.employe?.nom }} {{ demande.employe?.prenom }}</td>
              <td>{{ demande.dateDebut }}</td>
              <td>{{ demande.dateFin }}</td>
              <td>{{ demande.typeConge.nomTypeConge }}</td>
              <td>
                <span class="badge" [ngClass]="{'bg-warning': demande.statut === 'En_Attente', 'bg-success': demande.statut === 'Approuve'}">
                  {{ demande.statut === 'En_Attente' ? 'En Attente' : 'Approuvée' }}
                </span>
                @if(demande.estDExtension==true){
                    <span class="text-danger fw-bold text-center" style="margin-left: 30px; text-shadow: 1px 1px 1px black;"><i class="bi bi-megaphone-fill"></i>
                      Demande d'Extension</span>}
              </td>
            </tr>
        }
          </tbody>
        </table>

        @if(demandeConges?.length==0 || !demandeConges){
          <div class="col-12 text-center text-muted fw-bold">
            Aucune Demande En Attente 
          </div>
        }
      </div>
    </div>
  </div>
  