.custom-card {
  border-radius: 15px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.custom-card:hover {
  transform: scale(1.05);
}
.custom-card-header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;
}
.badge {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 8px;
}
  
  .card-body h5 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: #333; /* Gris foncé pour le texte */
  }
  
  .card-body p {
    font-size: 2rem;
    font-weight: 600;
  }
  
  /* Statut de la demande */
  .bg-warning {
    background-color: #f7b758 !important; /* Orange pastel */
  }
  
  .bg-success {
    background-color: #378f73 !important; /* Vert pastel doux */
  }
  
  /* Cartes de données */
  .card {
    background-color: #f4f8f9; /* Fond neutre et doux */
  }
  
  .card .card-body {
    padding: 20px;
  }
  