<div class="container mt-4">
  <div class="row mb-4 align-items-center">
    <div class="col-12 col-md-6">
      <h4 class="text-dark">Bonjour, <span style="color: gray;">Admin</span></h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card custom-card text-white" style="background-color: rgb(135, 136, 77); width: 250px; height: 120px;">
        <div class="card-body d-flex flex-column justify-content-between">
          <h6 class="card-title">Nombre d'Utilisateurs</h6>
          <p class="card-text h2">{{ users?.length }}</p>
          <i class="bi bi-person-fill position-absolute" style="right: 15px; bottom: 10px; font-size: 2rem;"></i>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-3">
      <div class="card custom-card text-white" style="background-color:rgb(135, 136, 77); width: 250px; height: 120px;">
        <div class="card-body d-flex flex-column justify-content-between">
          <h6 class="card-title">Nombre de Départements</h6>
          <p class="card-text h2">{{ departements?.length }}</p>
          <i class="bi bi-briefcase position-absolute" style="right: 15px; bottom: 10px; font-size: 2rem;"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header custom-card-header fw-bold">Les Utilisateurs</div>
        <div class="card-body">
          <table class="table table-striped border">
            <thead>
              <tr>
                <th>Nom d'utilisateur</th>
                <th>Rôle</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let utilisateur of users">
                <td>{{ utilisateur.nom }}</td>
                <td>
                  <span class="badge" [ngClass]="{
                    'bg-warning': utilisateur.role === 'AdminRH',
                    'bg-success': utilisateur.role === 'Manager',
                    'bg-danger': utilisateur.role === 'User'
                  }">
                    {{ utilisateur.role === 'AdminRH' ? 'Admin RH' : utilisateur.role }}
                  </span>
                </td>
                <td>{{ utilisateur.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header custom-card-header fw-bold">Les Départements</div>
        <div class="card-body">
          <table class="table table-striped border">
            <thead>
              <tr>
                <th>Nom du Département</th>
                <th>Chef de Département</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let departement of departements">
                <td>{{ departement.nomDep }}</td>
                <td>{{ departement.manager?.nom || 'Pas de manager' }} {{ departement.manager?.prenom }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
