<div class="container mt-4">
  <div class="row mb-1 align-items-center">
    <div class="row mb-4 align-items-center">
      <div class="col-12 col-md-6">
        <h4 class="text-dark">Bonjour, <span style="color: gray;">Admin Ressources Humaines</span></h4>
      </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-4">
      <div class="card custom-card text-white">
        <div class="card-body position-relative">
          <h6 class="card-title">Type Congés</h6>
          <p class="card-text h2">{{ nbtypeConges }}</p>
          <i class="bi bi-calendar-check position-absolute text-white" style="right: 10px; top: 50%;  font-size: 2rem;"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-4">
      <div class="card custom-card text-white">
        <div class="card-body position-relative">
          <h6 class="card-title">Employés</h6>
          <p class="card-text h2">{{ employees?.length }}</p>
          <i class="bi bi-person-fill position-absolute text-white" style="right: 10px; top: 50%; font-size: 2rem;"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-4">
      <div class="card custom-card text-white">
        <div class="card-body position-relative">
          <h6 class="card-title">Dem.En Attente</h6>
          <p class="card-text h2">{{ att }}</p>
          <i class="bi bi-clock position-absolute text-white" style="right: 10px; top: 50%;  font-size: 2rem;"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-4">
      <div class="card custom-card text-white">
        <div class="card-body position-relative">
          <h6 class="card-title">Dem.Validées</h6>
          <p class="card-text h2">{{ approuve }}</p>
          <i class="bi bi-check-circle position-absolute text-white" style="right: 10px; top: 50%;  font-size: 2rem;"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-4">
      <div class="card custom-card text-white ">
        <div class="card-body position-relative">
          <h6 class="card-title">Dem.Refusées</h6>
          <p class="card-text h2">{{ refuse }}</p>
          <i class="bi bi-x-circle position-absolute text-white" style="right: 10px; top: 50%;  font-size: 2rem;"></i>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <!-- Tableau des utilisateurs -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header custom-card-header">Demandes de Congé par Département</div>
        <div class="card-body">
          <table class="table table-striped" style="border: 1px solid GREY;">
            <thead>
              <tr>
                <th>Département</th>
                <th>Manager</th>
                <th>En Attente</th>
                <th>Validées</th>
                <th>Refusées</th>
              </tr>
            </thead>
            <tbody>
              @for(departement of departements; track departement){
              <tr>
                <td>{{ departement.nomDep }}</td>
                <td>
                  <ng-container *ngIf="departement.manager?.nom; else noManager">
                    {{ departement.manager?.nom }} {{ departement.manager?.prenom }}
                  </ng-container>
                  <ng-template #noManager>
                    <i class="bi bi-x-circle" style="font-size: 20px;"></i>
                  </ng-template>
                </td>
                <td>
                  <span class="badge bg-success ">{{ countDemandesByStatus(departement.manager?.demandes, 'En_Attente') }}</span>
                </td>
                <td>
                  <span class="badge bg-success">{{ countDemandesByStatus(departement.manager?.demandes, 'Approuve') }}</span>
                </td>
                <td>
                  <span class="badge bg-success">{{ countDemandesByStatus(departement.manager?.demandes, 'Refuse') }}</span>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Tableau des départements -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header custom-card-header text-black fw-bold">Absences Pour Aujourd'hui</div>
        <div class="card-body">
          @if(absenceAjourdui!.length>0){
          <table class="table table-striped" style="border: 1px solid GREY;">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Département</th>
                <th>Date Fin</th>
                <th>Raison</th>
              </tr>
            </thead>
            <tbody>
               @for(abs of absenceAjourdui;track abs){
              <tr>
                <td>{{ abs.employe?.nom | titlecase }} {{abs.employe?.prenom | titlecase}}</td>
                <td>{{abs.employe?.departement.nomDep}}</td>
                <td>{{ abs.dateFin}}</td>
                <td>{{ abs.reason}}</td>
              </tr>
              }
            </tbody>
          </table>
        }@else {
          <div class="fw-bold text-muted" style="text-align: center;">Aucune absence pour Aujourd'hui</div>
        }
        </div>
      </div>
    </div>
  </div>
</div>
