<div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col col-xl-10">
            <div class="card shadow-lg" style="border-radius: 1rem; backdrop-filter: blur(10px); background: rgba(255, 255, 255, 0.8);">
                <div class="row g-0">
                    <!-- Image Section -->
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="/assets/photo1.jpg"
                            alt="Formulaire d'édition" 
                            class="img-fluid" 
                            style="height: 100%;filter: blur(1px) brightness(0.7) contrast(1.2) saturate(2);" />
                    </div>
                    <!-- Form Section -->
                    <div class="col-md-7">
                        <div class="card-body p-5 d-flex flex-column justify-content-center">
                            <h2 class="text-center fw-bold mb-4">Editer l'employé(e)  <span class="text-success">{{employee.nom | titlecase}}</span></h2>

                            <form id="EditForm" (ngSubmit)="editEmployee(f)" #f="ngForm">

                                <div class="row">
                                    <div class="col-md-6">
                                <!-- Nom Input -->
                                <div class="form-floating mb-3">
                                    <input 
                                      type="text" 
                                      name="nom"
                                      id="nomInput" 
                                      ngModel #nom="ngModel" 
                                      class="form-control" 
                                      placeholder="Nom" 
                                      [(ngModel)]="employee.nom"
                                      required
                                    >
                                    <label for="nomInput">*Nom</label>
                                    @if(nom.touched && nom.invalid){
                                        <span class="error">Ce champ est obligatoire!</span>
                                    }
                                </div>
                                </div>

                                <!-- Prénom Input -->
                                <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input 
                                      type="text" 
                                      id="prenomInput"
                                      name="prenom" 
                                      ngModel #prenom="ngModel"
                                      [(ngModel)]="employee.prenom"
                                      class="form-control" 
                                      placeholder="Prénom" 
                                      required
                                    >
                                    <label for="prenomInput">*Prénom</label>
                                    @if(prenom.touched && prenom.invalid){
                                        <span class="error">Ce champ est obligatoire!</span>
                                    }
                                </div>
                                </div>
                                </div>

                                <!-- Email Input -->
                                <div class="row">
                                <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input 
                                      type="email" 
                                      id="emailInput" 
                                      name="email"
                                      ngModel #email="ngModel"
                                      [(ngModel)]="employee.email"
                                      class="form-control" 
                                      placeholder="Adresse e-mail" 
                                      required
                                    >
                                    <label for="emailInput">*Adresse e-mail</label>
                                    @if(email.touched && email.invalid){
                                        <span class="error">Email invalide</span>
                                    }
                                </div>
                                </div>

                                <!-- CIN Input -->
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select 
                                          id="posteInput" 
                                          name="poste"
                                          ngModel
                                          #poste="ngModel"
                                          [(ngModel)]="employee.poste"  
                                          class="form-control" 
                                          required
                                        >
                                          <option value="" disabled selected>Choisir un poste</option>
                                          <option [value]="employee.poste" selected>
                                            {{ employee.poste }}
                                          </option>
                                          @for(poste of postes;track poste){
                                              <option [value]="poste">
                                                  {{ poste }}
                                              </option>
                                          }
                                        </select>
                                        <label for="posteInput">*Poste</label>
                                    </div>
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-md-6">
                                  <!-- tel Input -->
                                  <div class="form-floating mb-3">
                                    <input 
                                      type="tel" 
                                      id="tel" 
                                      name="tel"
                                      ngModel #tel="ngModel"
                                      [(ngModel)]="employee.tel"
                                      class="form-control" 
                                      placeholder="Numéro de Téléphone" 
                                      required
                                    >
                                    <label for="Numéro de Téléphone">*Numéro de Téléphone</label>
                                    @if(tel.touched && tel.invalid){
                                        <span class="error">Numéro de Telph invalide</span>
                                    }
                                </div>
                                </div>

                                <div class="col-md-6">
                                <!-- Département Select -->
                                @if(employee.departement){
                                <div class="form-floating mb-3">
                                    <select 
                                      id="departementInput" 
                                      name="departement"
                                      ngModel
                                      #departement="ngModel"
                                      [(ngModel)]="employee.departement.nomDep"
                                      class="form-control" 
                                      required
                                    >
                                      <option value="" disabled selected>Choisir un département</option>
                                      <!-- Boucle sur les départements et affichage -->
                                      @for(dep of departements; track dep){
                                          <option [value]="dep">{{ dep }}</option>
                                      }
                                    </select>
                                    <label for="posteInput">*Département</label>
                                </div>
                            }
                            </div>
                    
                                <div class="col-md-12"> 
                                    <div class="form-floating mb-3">
                                        <input 
                                          type="date" 
                                          id="dateEmbaucheInput" 
                                          name="dateEmbauche"
                                          ngModel #dateEmbauche="ngModel"
                                          [(ngModel)]="employee.dateEmbauche"
                                          class="form-control" 
                                          placeholder="Date d'embauche" 
                                          required
                                        >
                                        <label for="dateEmbaucheInput">*Date d'embauche</label>
                                        @if(dateEmbauche.touched && dateEmbauche.invalid){
                                            <span class="error">Ce champ est obligatoire!</span>
                                        }
                                    </div>
                                </div>
  </div>        
                                <!-- Error Message -->
                                @if (errorMessage){
                                <div class="alert alert-danger mt-3" [innerHTML]="errorMessage">
                                    {{ errorMessage }}
                                </div>
                                }

                                <!-- Save Button -->
                                <div class="d-grid mb-4">
                                    <button type="submit" class="btn btn-success btn-lg" [disabled]="f.invalid">
                                        Sauvegarder
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
